header {
    background-color: #222;
}

.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    padding: 2em 1em 2em 1em;
    width: 100%;
    text-align: center;
}


/* Team Members section */

.team-members-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.team-member-card {
    width: 240px;
    height: 400px;
    display: grid;
    grid-template-rows: 252px auto 1fr;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.team-member-card .member-img {
    width: 80%;
    overflow: hidden;
    margin-bottom: 0.5em;
}

.member-img > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-member-card img {
    height: 100%;
    border-radius: 5px;
    object-fit: scale-down;
}

.member-img figcaption {
    padding-top: 1em;
}

.about-member {
    width: 100%;
    padding: 0.8em 1em;
    font-size: 0.8em;
    overflow-y: auto;
}

.team-member-card span {
    font-size: 0.8em;
}

.cta-btn {
    margin: 2em 0;
}

@media only screen and (min-width: 700px) {
    .team-members-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}